<p><b>Session Details:</b></p>
<table style="table-layout: auto;">
	<tbody>
		<tr><td>Levels Gained:</td> <td>{{levels}}</td></tr>
		<tr><td>Points Earned:</td> <td>{{points}}</td></tr>
		<tr><td>Coins Earned:</td> <td>{{coins}}</td></tr>
		<tr><td>Number of Tics:</td> <td>{{tics}}</td></tr>
		<tr><td>Longest Tic-free Interval:</td> <td>{{longest_tfi}}</td></tr>
		<tr><td>User's Personal Best Tic-free Interval:</td> <td>{{best_tfi}}</td></tr>
		<tr><td>Number of 10s Tic-Free Intervals:</td> <td>{{tens_tfis}}</td></tr>
		<tr><td>Session Duration:</td> <td>{{duration}}</td></tr>
		<tr><td>TicTrainer Version:</td> <td>{{tt_version}}</td></tr>
	</tbody>
</table>