
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<title>TicTrainer by KBMD</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bgStyle.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	</head>
	<body>
		<section class="page-header">
			<h1>TicTrainer</h1>
			<h2>{{rindex_subtitle}}</h2>
			<a href="register/" class="btn">{{rindex_btn_reg}}</a>
			<a href="account/" class="btn">{{rindex_btn_mga}}</a>
			<a href="session/" class="btn">{{rindex_btn_ses}}</a>
		</section>

		<section class="main-content">
			<h2 style='margin-top:0;'>{{rindex_h2_welcome}}</h2>
			<p>
				{{rindex_p_welcome}}
			</p>
			<h2>{{rindex_h2_how}}</h2>
			<p>
				<i>{{rindex_p_how0}}</i>
			</p>

			<p>
				{{{rindex_p_how1-0}}}
				<a href=howto.html>{{{rindex_p_how1-1}}}</a>.
			</p>

			<h2>{{rindex_h2_rtnl}}</h2>
			<p>
				{{rindex_p_rtnl0-0}}
				(<a href=https://sites.wustl.edu/tics/home/behavior-therapy-for-tics/>CBIT</a>) 
				{{rindex_p_rtnl0-1}}
				<a href=http://www.ncbi.nlm.nih.gov/pubmed/15033497>{{rindex_p_rtnl0-2}}</a>.
				{{rindex_p_rtnl0-3}} <a href=http://www.ncbi.nlm.nih.gov/pubmed/25879205>{{rindex_p_rtnl0-4}}</a>
				{{rindex_p_rtnl0-5}}
				<a href=http://www.ncbi.nlm.nih.gov/pubmed/25879205>{{rindex_p_rtnl0-6}}</a>
				{{rindex_p_rtnl0-7}}
			</p>
			<p>
				{{rindex_p_rtnl1}}
			</p>
			<p>
				{{rindex_p_rtnl2}} 
			</p>
			<h2>{{rindex_h2_privacy}}</h2>
			<p>
				{{rindex_p_privacy}}
			</p>
			
			<footer>
				{{rindex_f0}}
				<a href="https://github.com/jonkb/TicTrainer-node">github</a>.<br>
				{{rindex_f1}}
				<a href="error/report.html">{{rindex_f2}}</a>.<br>
				&copy; 2016-2020 Jonathan K. Black and <a href="http://www.purl.org/net/kbmd">Kevin J. Black</a><br>
				<br>
				{{rindex_f3}}
				<a href="mailto:TicTrainer@theblacks.us?subject=TicTrainer(TM)%20donation%20question">{{rindex_f4}}</a>.
				
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="U3LX67WEETU2W">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
				<p>
					*{{rindex_f5}}: 1Km5GJhWQpezYgaPw3zhoqMUpHqttxAaUn
				</p>
			</footer>
		</section>
	</body>
</html>
