<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bgStyle.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
		<title>TicTrainer by KBMD</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
		<script src="/scripts/account.js"></script>
	</head>
	<body>
		<section class="page-header">
			<div id="account_btn" class="dropdown-hover">
				<div class="dropdown-btn">
					{{_Account}}<span id="actname"></span>
				</div>
				<div id="account_menu" class="dropdown-content">
					<a href="/account/login?redirect=/" id="loginbtn" class="menubtn">{{ac_login}}</a>
					<a href="/register/index.html" id="registerbtn" class="menubtn">{{ac_register}}</a>
					<a href="#" id="logoutbtn" class="menubtn">{{ac_logout}}</a>
					<a href="/account/manage" id="actmng" class="menubtn">{{ac_manage}}</a>
				</div>
			</div>
			<h1>TicTrainer</h1>
			<h2>{{rindex_subtitle}}</h2>
			<!--More buttons - leaderboard, etc?-->
			<a href="session/" class="btn">{{rindex_btn_ses}}</a>
			<a href="account/leaderboard/" class="btn">{{rindex_btn_ldb}}</a>
		</section>
		{{{body}}}
	</body>
</html>